<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>HTML 5 Boilerplate</title>
  </head>
  <body>
      <header>
          <a href={{url_for("dodaj_stvar")}}>Dodaj</a>
          <a href={{url_for("vrati_stvar")}}>Vrati</a>

        </header>
    {% block content %}
    {% for d in data%}
    <div class="container">
        <div class="card" style="width: 18rem;">
            <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{d.stvar}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{d.namjena}}</h6>
  </div>
</div>
        {% if d.cijena is not none %}
        <p>{{d.cijena}}</p>
        {% else %}
        <p>Nema cijene</p>
        {% endif %}

    </div>
    {% endfor %}
    {% endblock %}

  </body>
</html>
